@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hover-effect-01 {
    transition: transform 0.3s ease, color 0.3s ease;
    transform-origin: left center; 
  }
  
  .hover-effect-02 {
    transition: transform 0.3s ease, color 0.3s ease;
    transform-origin: center; 
  }
  

.hover-effect-01:hover {
    transform: scale(1.1);
    color: #ffcc00;
  }
  
  .hover-effect-02:hover {
    transform: scale(1.1);
    color: #84a7d9;
    text-decoration: underline;
  }